<div class="footer">
  <p>
    Made with <a
      href="https://astro.build/"
      target="_blank"
      rel="noopener noreferrer">Astro</a
    > 🚀
  </p>
</div>

<style>
  .footer {
    margin-top: 64px;
    margin-bottom: 32px;
    text-align: center;
  }

  a {
    all: unset;
  }

  a:hover {
    color: var(--primary);
    cursor: pointer;
    transition: 500ms;
  }
</style>
